<!DOCTYPE html>
<html>
<head>
  <title>Final Boarding Call: Airport Journey Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<% if user_signed_in? %>
<p>  <%= link_to "Back to home page", root_path %> || <%= link_to 'Add new flight', new_flight_path%> || <%= link_to 'Show all flights', flights_path%> </p>
<%end%>
<hr/>
<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

<h1>Welcome to Final Boarding Call!</h1>
<b><p>When do you need to leave to go to the airport?</p></b>

<%= yield %>

</body>
</html>
