<p>Enter your flight details</p>
  <%= form_tag '/welcome', method: 'get' do %>
	  <%= label_tag(:flight_number, "Flight number:") %>
	  <% if @flight.nil?%>
	  	<%= text_field_tag(:flight_number) %><br/>
	  <% else %>
	  	<%= text_field_tag(:flight_number, @flight.flight_number) %><br/>
	  <% end %>
	  <%= label_tag(:date) %><br/>
	  <% if @flight.nil?%>
	  	<%= date_field_tag(:date) %><br/>
	  <% else %>
	  	<%= date_field_tag(:date, @flight.departure_date) %><br/>
	  <% end %>
	  <%= label_tag(:departure_airport_code, "Departure Airport Name (IATA):") %>
	  <% if @flight.nil?%>
	  	<%= text_field_tag(:departure_airport_code) %><br/>
	  <% else %>
	  	<%= text_field_tag(:departure_airport_code, @flight.departure_airport_code) %><br/>
	  <% end %>
	  <%= label_tag(:risk_profile, "Risk Profile:") %>
	  <% if user_signed_in?%>
	  	<%= select_tag :risk_profile, options_for_select([ "High", "Medium", "Low"], current_user.risk_profile)%><br/>
	  <% else %>
	  	<%= select_tag(:risk_profile,"<option>High</option><option>Medium</option><option>Low</option>".html_safe) %><br/>
	  <% end %>
	  <%= label_tag(:origin_location, "Where will you leave from?") %>
	  <% if @flight.nil?%>
	  	<%= text_field_tag(:origin_location, @current_location) %><br/>
	  <% else %>
	  	<%= text_field_tag(:origin_location, current_user.home_address) %><br/>
	  <% end %>
	  <%= label_tag(:commute_mode, "Commute Mode:") %>
	  <%= select_tag(:commute_mode,"<option>Public Transit</option><option>Driving</option><option>Walking</option>".html_safe) %><br/>
	  <%= label_tag(:baggage_to_checkin, "Do you have baggage to check-in?") %>
	  <%= check_box_tag(:baggage_to_checkin,"Yes",false) %><br/><br/>
  <%= submit_tag("Submit") %>
<%end%>
<br/>

<!-- Display directions only if there is a flight status available -->
<% if @has_flightstatus_error %>
	<%= @flightstatus_error_msg %>

<% else %>
	<!-- Display map only if Google Directions finds a result -->
	<% if @has_directions_error == false %>
		<h2>Directions and Map </h2>
		<iframe
		  width="800"
		  height="450"
		  frameborder="0" style="border:0"
		  src= <%= @gmaps_url %>>
		</iframe>

		<p> 
			<%= "By #{@commute_mode}: You need to leave at #{DateTime.strptime(@departure_time.to_s,'%s').strftime('%a %e %b %I:%M%p')} in order to check-in at #{@departure_airport_name} by #{DateTime.strptime(@arrival_time.to_s,'%s').strftime('%a %e %b %I:%M%p')} for Flight #{@flight_code} at #{@departure_flight_datetime.strftime('%a %e %b %I:%M%p')}" %> 
		</p>

		<ol>
		<% @directions.each_with_index do |steps, index| %>
			<li> <%= raw steps["html_instructions"] %> 
				<%= "[Distance: #{steps["distance"]["text"]}, " %>
				<%= "duration: #{steps["duration"]["text"]}]" %></li>
			<% end %>
		</ol>
	<%else%>
		<!-- Otherwise -->
		<p> <%= @directions_error_msg %></p>
	<%end%>
<%end%>