<!-- Get the current path -->
<% current_path = Rails.application.routes.recognize_path(request.env['PATH_INFO']) %>

<!-- Display the request form -->
<%= form_tag '/welcome/1', { class: 'form-class', id: 'form-inline', role: 'form', method: 'get' } do %>
	
	<div class="form-inline input-group-sm">
		<%= label_tag(:flight_number) %>
	  	<% if @flight.nil?%>
	  		<%= text_field_tag :flight_number, nil, {placeholder: 'E.g. QF674', class: 'form-control'} %>
	  	<% else %>
			<%= text_field_tag :flight_number, @flight.flight_number, {placeholder: 'E.g. QF674', class: 'form-control'} %>
		<% end %>
		&nbsp
		&nbsp
	  	<%= label_tag(:date) %>
	  	<% if @flight.nil?%>
	  		<%= date_field_tag :date, nil, {class: 'form-control'} %>
	  	<% else %>
			<%= date_field_tag :date, @flight.departure_date, {class: 'form-control'} %>
		<% end %>
		&nbsp
		&nbsp
		<%= label_tag(:departure_airport_code) %>
	  	<% if @flight.nil?%>
	  		<%= text_field_tag :departure_airport_code, nil, {placeholder: 'E.g. ADL', class: 'form-control'} %>
	  	<% else %>
			<%= text_field_tag :departure_airport_code, @flight.departure_airport_code, {placeholder: 'E.g. ADL', class: 'form-control'} %>
		<% end %>
	</div>

	</br>
	<div class="form-group input-group-sm">
	  	<%= label_tag(:origin_location, "Where will you leave from?") %>
	  	<% if @flight.nil?%>
	  		<%= text_field_tag :origin_location, @current_location, {placeholder: 'E.g. Norwood, Australia', class: 'form-control'} %>
	  	<% else %>
			<%= text_field_tag :origin_location, current_user.home_address, {placeholder: 'E.g. Norwood, Australia', class: 'form-control'} %>
		<% end %>
	</div>

	<div class="form-inline">
		<%= label_tag(:risk_profile, "Risk Profile") %>
	  	<% if user_signed_in?%>
			<%= select_tag :risk_profile, options_for_select([ "High", "Medium", "Low"], current_user.risk_profile), {class: 'form-control'} %>
	  	<% else %>
	  		<%= select_tag :risk_profile, options_for_select([ "High", "Medium", "Low"]), {class: 'form-control'} %>
		<% end %>

		&nbsp&nbsp
		<%= label_tag(:commute_mode, "Commute Mode") %>
		<%= select_tag :commute_mode, options_for_select([ "Public Transit", "Driving", "Walking"]), {class: 'form-control'} %>

		&nbsp&nbsp
		<div class="form-group input-group-sm">
		<%= label_tag(:baggage_to_checkin, "Baggage to check-in?") %>&nbsp
		<%= check_box_tag :baggage_to_checkin, "Yes" , false %>
		</div>
	</div>

	<br/>
	<%= submit_tag("Submit", class: "btn btn-default") %>
<%end%>