<%= render 'error'%>
<%= @encoded_dir_url %>

<div style='margin:30px;'>
<% if @has_flightstatus_error %>
	<!-- Display nothing -->

<% else %>
<!-- Display map only if Google Directions finds a result -->
	<% if @has_directions_error == false %>

		<table class="table table-condensed">
			<tr>
				<th>Flight Number</th>
				<th>Departure Airport</th> 
				<th>Flight Departure Time</th>
				<th>Flight Status</th>
			</tr>
			<tr>
				<td><%= @flight_code %></td>
				<td><%= @departure_airport_name %></td> 
				<td><%= @departure_flight_datetime.strftime('%a %e %b %l:%M%P') %></td>
				<td><%= raw @departure_flight_status %></td> 
			</tr>
		</table>

		<!-- Display leave-by message -->
		<h3><span class="label label-primary"><%= "#{@commute_mode}".split.map(&:capitalize).join(' ') %></span> Leave on <%= "#{@departure_time.strftime('%a %e %b %l:%M%P')}"%> (Arrival Time: <%="#{@arrival_time.strftime('%a %e %b %l:%M%P')})" %></h3>

		<!-- <script src="/js/countdown.js"></script>
		<script>  
		var clock = document.getElementById("countdown-holder"), targetDate = new Date(<%= @departure_time.strftime('%Y') %>, <%= @departure_time.strftime('%m') %> - 1, <%= @departure_time.strftime('%d') %>); 	clock.innerHTML = countdown(targetDate).toString();
		  		clock.innerHTML = countdown(targetDate).toString();
		  		setInterval(function()
		  		{  
		  			clock.innerHTML = countdown(targetDate).toString();  
		  		}, 1000); 
		</script>
		</br> -->

		<script type="text/javascript">
			var window_width = $(window).width() - 50
			document.write('<iframe width='+window_width+' height="300" frameborder="0" style="border:0" src= <%= @gmaps_url %>> </iframe>');
		</script>

	</br>
	</br>
		<table class="table table-condensed">
			<tr>
				<th>#</th>
				<th>Directions</th> 
				<th>Distance</th>
				<th>Duration</th>
			</tr>
			<% @directions.each_with_index do |steps, index| %>
				<tr>
					<td> <%= index + 1 %>
					<td> <%= raw steps["html_instructions"] %> </td>
					<td> <%= raw steps["distance"]["text"] %>
					<td> <%= raw steps["duration"]["text"] %> </td>
				</tr>
			<% end %>

		</table>
	 <%else%>
	  	<!-- Otherwise -->
	<%end%>
<%end%>

</br>
<script>
function goBack() {
    window.history.back()
}
</script>

<button onclick="goBack()" type="button" class="btn btn-default">Go Back
</button>
</div>